
*{
    foreground-text: rgb(59, 59, 59)
}

/* GENERAL */
.root{
    -fx-font-size: 12;
    -fx-font-family: "Trebuchet MS", "Geneva", "sans-serif";
    -fx-text-fill: foreground-text;
    -fx-base: #e7e7e7;
    -fx-background: #e7e7e7 ;

    -fx-focus-color: transparent;
    -fx-accent: #7dade0;
}



/* TOOLBAR */
#toolbar {
    -fx-background-color: #ececec;
    -fx-border-color:
    linear-gradient(to bottom, rgba(87, 87, 87, 0.3), transparent),
    linear-gradient(to top, rgba(88, 88, 88, 0.3), transparent);
    -fx-border-style: solid;
    -fx-border-width:
        3 0 0 0,
        0 0 3 0;
}

#toolbar *.button {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-text-fill: foreground-text;
}

#toolbar *.button:hover{
    -fx-background-color: #a2bbd8;
}

#toolbar *.button:armed {
    -fx-background-color: #7dade0;

}

#toolbar *.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0px;
}



/* PROJECTS TOOLBAR */
#projectsToolbar {
    -fx-background-color: #e7e7e7;
    -fx-border-color:
        linear-gradient(to bottom, rgba(90, 90, 90, 0.2), transparent),
        linear-gradient(to top, rgba(90, 90, 90, 0.2), transparent);
    -fx-border-style: solid;
    -fx-border-width: 5 0 0 0, 0 0 5 0;
}

#projectsToolbar *.button {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 15, 15, 15;
}

#projectsToolbar *.button:hover{
    -fx-background-color: #a2bbd8;
}

#projectsToolbar *.button:armed {
    -fx-background-color: #7dade0;
}

#projectsToolbar *.toggle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15, 15, 15;
}

#projectsToolbar *.toggle-button:hover {
    -fx-background-color: #a2bbd8;
}

#projectsToolbar *.toggle-button:selected {
    -fx-background-color: #7dade0;
}



/* TOP SLIM PANEL */
#top_slim_panel {
    -fx-background-color: #dadada;
    -fx-text-fill: foreground-text;
}



/* CONSOLE */
#console {
    -fx-background-color:  #ebebeb;
    -fx-padding: 5 5 5 5;


}

#viewArea{
    -fx-background-color:  #ebebeb;
}



/* MAIN MENU */
.menu-bar {
        -fx-background-color: #ebebeb;
}

.context-menu {
    -fx-border-color: rgb(128, 122, 122);
    -fx-border-width: 1;
        
    -fx-background-color: #ebebeb;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 4 1 4 1;
  }
  
  .menu-item .label {
    -fx-text-fill: foreground-text;
  }

  .menu-item {
    -fx-padding: 6 6 6 6;
  }
  


/* LOADING SPINNER */
.progress-indicator{
    -fx-progress-color: foreground-text;
}

.status-bar{
    -fx-background-color: #d4d4d4;
    -fx-padding: 3 0 3 0;
}




/* GENERAL ELEMENTS */
.text-field {
    -fx-background-color: rgb(210, 210, 210);
    -fx-background-insets: 0, 0 0 5 0 ;
    -fx-background-radius: 7 ;
    -fx-text-fill: foreground-text;
    -fx-prompt-text-fill: rgb(148, 148, 148);
}
.text-field:focused {
    -fx-background-color: rgb(197, 197, 197) ;
    -fx-background-radius: 7 ;
}

.text-area {
    -fx-text-fill: foreground-text;
    -fx-prompt-text-fill: rgb(148, 148, 148);
}

.text-area .content{
    -fx-background-color: rgb(210, 210, 210);
}

.text-area:focused {
    -fx-background-color: rgb(173, 173, 173) ;
}

.label{
    -fx-text-fill: foreground-text;
}

.combo-box-base{
    -fx-padding: 2 4 2 4;
    -fx-background-color: rgb(210, 210, 210);
}
.combo-box-base .arrow-button {
    -fx-background-color: rgb(210, 210, 210);
}

.combo-box .cell {
    -fx-text-fill: foreground-text;
}
.combo-box .cell:hover {
    -fx-text-fill: foreground-text;
    -fx-background-color: #a2bbd8 ;
}
.combo-box .cell:focused {
    -fx-text-fill: foreground-text;
}

.choice-box{
    -fx-padding: 2 4 2 4;
    -fx-background-color: rgb(210, 210, 210);
}
.choice-box:hover{
    -fx-padding: 2 4 2 4;
    -fx-background-color: rgb(197, 197, 197) ;
}

.split-pane > .split-pane-divider {
	-fx-background-color: rgba(201, 201, 201, 0.158);
    -fx-pref-width: 5;
    -fx-border-width: 0;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-background-insets: 0, 0 1 0 1;
	-fx-border-width: 0 1 0 1;
}

.split-pane:vertical > .split-pane-divider {
	-fx-background-insets: 0, 1 0 1 0;
	-fx-border-width: 1 0 1 0;
}
.split-pane > .split-pane-divider:hover {
    -fx-pref-width: 5;
	-fx-background-color: rgb(185, 185, 185);
}

.button {
    -fx-background-color: rgb(200, 200, 200);
    -fx-text-fill: foreground-text;
    -fx-background-radius: 15, 15, 15;
}

.button:hover{
    -fx-background-color: #a2bbd8;
    -fx-background-radius: 15, 15, 15;
}

.button:armed {
    -fx-background-color: #7dade0;

}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgb(210, 210, 210);
    -fx-text-fill: foreground-text;
}

.list-cell {
    -fx-background-color: #f7f7f7;
    -fx-text-fill: foreground-text;
}

.list-cell:even {
    -fx-background-color: rgb(240, 240, 240);
    -fx-text-fill: foreground-text;
}
.dialog-pane:header .header-panel {
    -fx-background-color: #d3d3d3;
  }

.table-view{
    -fx-background-color: transparent;
}
 
.table-view:focused{
    -fx-background-color: transparent;
}
 
.table-view .column-header-background{
    -fx-background-color: #e7e7e7;
}
 
.table-view .column-header-background .label{
    -fx-text-fill: foreground-text;
}
 
.table-view .column-header {
    -fx-background-color: transparent;
}
 
.table-view .table-cell{
    -fx-text-fill: foreground-text;
}
 
.table-row-cell{
    -fx-background-color: #f7f7f7;
}
 
.table-row-cell:odd{
    -fx-background-color: rgb(240, 240, 240);
}
 
.table-row-cell:selected {
    -fx-background-color: rgb(210, 210, 210);
}



/* USING ID */
#projectLabelCloned{
    -fx-text-fill: foreground-text;
}

#projectLabelShadow{
    -fx-text-fill: rgb(112, 112, 112);
}

#projectBranchNameLabel{
    -fx-text-fill: rgb(49, 70, 117);
}

#infoButtonLogin{
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px; 
    -fx-max-width: 30px; 
    -fx-max-height: 30px;
}

#label-failure {
    -fx-text-fill: red;
}

#label-success {
    -fx-text-fill: green
}

#progress_dialog_title{
    -fx-text-fill:rgb(98, 140, 151);
}

#file-list-cell-conflicting-files{
    -fx-text-fill:DARKRED;
}

#file-list-cell-project-name{
    -fx-text-fill:DARKCYAN;
}