<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Properties>
        <Property name="filepath">${sys:user.home}/.GitlabTool/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
        </Console>

        <RollingFile name="ApplicationDevFile" filename="${filepath}/GitlabTool_full.log"
                     filepattern="${filepath}/GitlabTool_full.%d{MM-dd-yyyy}.%i.log">
            <PatternLayout
                pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${filepath}" maxDepth="2">
                    <IfFileName glob="${filepath}/GitlabTool_full.*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ApplicationErrorsFile" filename="${filepath}/GitlabTool_errors.log"
                     filepattern="${filepath}/GitlabTool_errors.%d{MM-dd-yyyy}.%i.log">
            <PatternLayout
                pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${filepath}" maxDepth="2">
                    <IfFileName glob="${filepath}/GitlabTool_errors.*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ApplicationDevFile" />
            <AppenderRef ref="ApplicationErrorsFile" level="error" />
        </Root>
    </Loggers>
</Configuration>